.text-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.path-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.5;
}

.rectangle-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.ellipse-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
