#top-bar {
  background-color: #3d3d3d;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  align-items: center;
}

button {
  border: none;
  background-color: rgba(0,0,0,0);
  height: 40px;
  width:40px;
}

button img:hover {
  color: #605870;
  background-color: rgba(255, 0, 0, 0);
}

#button-icon {
  filter: grayscale(100%);
}

#color-palette {
  margin-left: 40px;
}
