.contextual-menu {
  background-color: #202B33;
  display: flex;
  position: absolute;
  top: 41px;
  bottom: 0;
  transition: right 500ms ease-in-out;
  color: #EBF1F5;
  padding: 0;
  padding-left: 13px;
  padding-right: 13px;
  margin: 0;
  box-sizing: border-box;
}

.contextual-menu h2 {
  font-family: Catamaran, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.7em;
}

.menu-column {
    display: flex;
    flex: initial;
    width: 100%;
    flex-direction: column;
}

.static-menu {
    display: flex;
    flex: 0.05;
    height: 80px;
    background-color: #202B33;
    padding-bottom: 5px;
}

.dynamic-menu {
    display: flex;
    flex: 0.7;
    height: 80px;
    background-color: #30404D;
}

.zoom-menu {
    display: flex;
    flex: 0.05;
    flex-direction: column;
    background-color: #202B33;
}

.zoom-input {
    width: 9px;
}

.hide-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 48%;
    left: -20px;
    background-color: #202B33;
    border-radius: 50%;
}
