.contextual-menu {
  background-color: #202B33;
  display: flex;
  position: absolute;
  top: 41px;
  bottom: 0;
  transition: right 500ms ease-in-out;
  color: #EBF1F5;
  padding: 0;
  margin: 0;
}

.contextual-menu h2 {
  font-family: Catamaran, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.7em;
}

.menu-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.static-menu {
    display: flex;
    flex: 0.05;
    height: 80px;
    background-color: #202B33;
    padding-bottom: 5px;
}

.dynamic-menu {
    display: flex;
    flex: 0.85;
    height: 80px;
    background-color: #30404D;
}

.zoom-menu {
    display: flex;
    flex: 0.05;
    height: 80px;
    background-color: #202B33;
}

.hide-button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8px;
}

.hide-button {
    width: 30px;
    height: 30px;
    background-color: #182026;
    border-radius: 50%;
}
