.contextual-menu {
  background-color: #3d3d3d;
  display: flex;
  width: 360px;
  padding-top: 20px;
  position: absolute;
  top: 43px;
  bottom: 0;
  transition: right 500ms ease-in-out;
}

.hide-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 413px;
    background-color: #000000;
}
