#right-scroll-container {
    position: absolute;
    top: 42px;
    bottom: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 18px;
    background-color: #202B33;
    transition: right 500ms ease-in-out;
}

#right-scroll-bar {
    position: relative;
    left: 4px;
    right: 2px;
    width: 10px;
    background-color: #EBF1F5;
}
