.ColorMenu {
  /* background-color: white; */
  font-family: Catamaran;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #202B33;
  background-color: #30404D;
  color: #EBF1F5;
}

.ColorMenu-title {
  display: flex;
  flex-flow: row nowrap;
}

.ColorMenu-title select {
  padding: 0;
  margin-left: 10px;
}

.ColorMenu-title select:focus {
  outline: none;
}

h1 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

select {
  background-color: #202B33;
  border: none;
  padding: 0;
}

.ColorInputForm {
  display: flex;
  flex-flow: row nowrap;
}

.ColorInputForm p {
  margin: 5px;
  font-size: 10px;
}

.ColorInputForm input {
  width: 30px;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid #5C7080;
}

.ColorInputForm input, textarea, select {
  color: #EBF1F5;
  font-weight: 100;
  text-align: center;
  padding: 5px;
}

.ColorInputForm input:focus {
  outline: none;
  border-bottom: 2px solid #EBF1F5;
}

.ColorInputForm button {
  background-color: #5C7080;
  color: #EBF1F5;
  width: auto;
  height: auto;
  padding: 10px;
}

.ColorInputForm button:hover {
  background-color: #EBF1F5;
  color: #5C7080;
}
