.color-editor {
  height: 200px;
}

#current-color-display {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

#color-input {
  display: flex;
  flex-flow: row nowrap;

}

#color-input input {
  width: 30px;
  margin: 5px;
}
