.arrowhead-gui {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: white;
}

label {
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.7em;
}
