.editor-title {
    width: 173px;
    height: 22px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: #10161A;
    font-size: 12px;
    font-family: helvetica;
    color: #EBF1F5;
}

.arrow-gui {
    background-color: white;
}

.editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
}

.editor-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.editor-row-title {
    width: 48px;
    margin-right: 7px;
    text-align: left;
    font-size: 10px;
    font-family: helvetica;
    color: #CED9E0;
}

.text-input {
    display: flex;
    flex-direction: column;
    flex: initial;
    padding-left: 4px;
    background-color: #10161A;
    border-color: #10161A;
    border-radius: 4px;
    border-width: 0;
    font-size: 10px;
    font-family: helvetica;
    color: #CED9E0;
}

.tab {
    /* overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
    /* background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s; */
}

/* Change background color of buttons on hover */
.tab button:hover {
    /* background-color: #ddd; */
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
}
