#left-bar {
  background-color: #202B33;
  width: 45px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: top;
  text-align: center;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: rgba(10,10,10,0.5);
}

.separator {
  width: 33px;
  background-color: #394B59;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  height: 1px;
}

#button-icon {
  margin: 3px;
}

.tooltip-style {
  background-color: #202B33 !important;
  font-family: Catamaran, sans-serif !important;
  font-size: 10px !important;
}
