#left-bar {
  background-color: #202B33;
  width: 45px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: top;
  text-align: center;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: rgba(10,10,10,0.5);
}

.separator {
  width: 33px;
  background-color: #5C7080;
  display: block;
  /* margin: 10px 6px 10px 6px; */
  margin-left: 10px;
  margin-right: 10px;
  /* position: absolute; */
  height: 1px;
}

#button-icon {
  margin: 3px;
}
